<% provide(:title, 'All characters') %>
<h1>推し一覧</h1>
 <strong><%= @user.username %></strong>さんの推しは
 現在<%= @user.favorites.count %>人です
 <p>
 <% if @user.favorites.count>0 %>
 名前       /    登場作品
 <div class="character_favorite">
 <% @characters.each do|character| %>
 <strong><%= character.chara_name %>   /</strong>
 <%= character.appear_in %><p>
 <% end %>
</div><!-- character_favorite -->
<% else %>
キャラクター一覧から推しを見つけてください！
<% end %>



<%= paginate @characters %>
