<div class="container">
    <h2>ログイン</h2>
<div>
<div class='py-3'>
  <div class='container'>
  
    <h3 class="mb-3">ログインフォーム</h3>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="row py-3">
        <label for="email" class="col-md com-form-label" >
        メールアドレス  <span class="badge bg-info text-light">必須</span>
        </label>
        <div class="col-md-9">
        
          <div class="form-floating">
            <%= f.email_field  :email , class: 'form-control', placeholder:"メールアドレス",
            autofocus: true, autocomplete: "email", required: true %>
          </div>
        </div>
      </div>
      <div class="row py-3">
        <label for="password" class="col-md com-form-label">
        パスワード（６文字以上）  <span class="badge bg-info text-light">必須</span>
        </label>
        <div class="col-md-9">
          <div class="form-floating">
            <%= f.password_field  :password , class: 'form-control', placeholder:"パスワード",
            autocomplete: "current-password", required: true %>
          </div>
      </div>


      <div class="row justify-content-end py-3">
        <% if devise_mapping.rememberable? %>
        <div class="col-md-9">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
        <p>
        <% end %>
        <div class="col-md-9">
          <%= f.submit'ログイン', class:"btn btn-primary" %>
        <div>
    <% end %>
  </div>
</div>



<%= render "users/shared/links" %>