<% provide(:title, 'All users') %>
<h1>All users</h1>

<h3>ユーザー検索</h3>
<%= search_form_for @q,  url:search_users_path do |f| %>
  <%= f.label :username_cont, 'ユーザー名' %>
  <%= f.search_field :username_cont %>
  <br>
  <%= f.submit '検索' %>
<% end %>


<ul class="users">
  <% @users.find_each do |user| %>
    <li>
      <%= link_to user.username, user_path(user)  %>
    </li>
  <% end %>
</ul>

<%= paginate @users %>