<div class="row py-3">
  <label for="element_list" class="col-md com-form-label" >外見情報</label>

  <div class="col-md-9">
    <%= form_with model: @character, local: true do |f| %>
    <div class='accordion'>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#hair"
            aria-expanded="false" aria-controls="hair">
            髪
          </button>
        </h2>
        <div id="hair"  class='accordion-collapse collapse' aria-labelledby='hair' data-bs-parent="#appearance">
          <div class='accordion-body'>
          髪の長さ
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"hair1"},  "ベリーロング" , nil %>
            <%= f.label 'ベリーロング', {class: "btn btn-outline-primary",for:"hair1"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"hair2"},  "ロングヘアー" , nil %>
            <%= f.label 'ロングヘアー', {class: "btn btn-outline-primary",for:"hair2"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"hair3"},  "セミロング" , nil %>
            <%= f.label 'セミロング', {class: "btn btn-outline-primary",for:"hair3"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"hair4"},  "ミディアムショート" , nil %>
            <%= f.label 'ミディアムショート', {class: "btn btn-outline-primary",for:"hair4"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"hair5"},  "ショートヘアー" , nil %>
            <%= f.label 'ショートヘアー', {class: "btn btn-outline-primary",for:"hair5"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"hair6"},  "ベリーショート" , nil %>
            <%= f.label'ベリーショート', {class: "btn btn-outline-primary",for:"hair6"}  %>
            <br>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"hair7"},  "パーマ" , nil %>
            <%= f.label 'パーマ', {class: "btn btn-outline-primary",for:"hair7"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"hair8"},  "カール" , nil %>
            <%= f.label 'カール', {class: "btn btn-outline-primary",for:"hair8"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"hair9"},  "ウェーブ" , nil %>
            <%= f.label 'ウェーブ', {class: "btn btn-outline-primary",for:"hair9"}  %>
            <br>
            髪型
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"hair_style1"},  "ポニーテール" , nil %>
            <%= f.label 'ポニーテール', {class: "btn btn-outline-primary",for:"hair_style1"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"hair_style2"},  "サイドテール" , nil %>
            <%= f.label 'サイドテール', {class: "btn btn-outline-primary",for:"hair_style2"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"hair_style3"},  "ツインテール" , nil %>
            <%= f.label 'ツインテール', {class: "btn btn-outline-primary",for:"hair_style3"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"hair_style4"},  "アップスタイル" , nil %>
            <%= f.label 'アップスタイル', {class: "btn btn-outline-primary",for:"hair_style4"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"hair_style5"},  "お団子ヘアー" , nil %>
            <%= f.label 'お団子ヘアー', {class: "btn btn-outline-primary",for:"hair_style5"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"hair_style6"},  "パイナップルヘアー" , nil %>
            <%= f.label 'パイナップルヘアー', {class: "btn btn-outline-primary",for:"hair_style6"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"hair_style7"},  "ハーフアップ" , nil %>
            <%= f.label 'ハーフアップ', {class: "btn btn-outline-primary",for:"hair_style7"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"hair_style8"},  "三つ編み" , nil %>
            <%= f.label '三つ編み', {class: "btn btn-outline-primary",for:"hair_style8"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"hair_style9"},  "二つ結び" , nil %>
            <%= f.label '二つ結び', {class: "btn btn-outline-primary",for:"hair_style9"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"hair_style10"},  "おさげ" , nil %>
            <%= f.label 'おさげ', {class: "btn btn-outline-primary",for:"hair_style10"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"hair_style11"},  "縦ロール" , nil %>
            <%= f.label '縦ロール', {class: "btn btn-outline-primary",for:"hair_style11"}  %>
            <br>
            髪色
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"hcred"},  "赤髪" , nil %>
            <%= f.label '赤髪',  {class: "btn btn-outline-primary",for:"hcred"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"hcblue"},  "青髪" , nil %>
            <%= f.label '青髪', {class: "btn btn-outline-primary",for:"hcblue"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"hcblack"},  "黒髪" , nil %>
            <%= f.label '黒髪', {class: "btn btn-outline-primary",for:"hcblack"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"hcgold"},  "金髪" , nil %>
            <%= f.label '金髪', {class: "btn btn-outline-primary",for:"hcgold"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"hcbrown"},  "茶髪" , nil %>
            <%= f.label '茶髪', {class: "btn btn-outline-primary",for:"hcbrown"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"hcwhite"},  "白髪" , nil %>
            <%= f.label '白髪', {class: "btn btn-outline-primary",for:"hcwhite"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"hcgreen"},  "緑髪" , nil %>
            <%= f.label '緑髪', {class: "btn btn-outline-primary",for:"hcgreen"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"hcpurple"},  "紫髪" , nil %>
            <%= f.label '紫髪', {class: "btn btn-outline-primary",for:"hcpurple"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"hcsliver"},  "銀髪" , nil %>
            <%= f.label '銀髪', {class: "btn btn-outline-primary",for:"hcsliver"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"hcpink"},  "桃髪" , nil %>
            <%= f.label '桃髪', {class: "btn btn-outline-primary",for:"hcpink"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"hclight_blue"},  "桃髪" , nil %>
            <%= f.label '水色髪', {class: "btn btn-outline-primary",for:"hclight_blue"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"hcorange"},  "橙髪" , nil %>
            <%= f.label '橙髪', {class: "btn btn-outline-primary",for:"hcorange"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"hcmessyu"},  "メッシュ" , nil %>
            <%= f.label 'メッシュ', {class: "btn btn-outline-primary",for:"hcmessyu"}  %>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#eye"
            aria-expanded="false" aria-controls="eye">
            目
          </button>
        </h2>
        <div id="eye" class='accordion-collapse collapse' aria-labelledby='eye' data-bs-parent="#appearance">
          <div class='accordion-body'>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"fase"},  "眼鏡" , nil %>
            <%= f.label '眼鏡', {class: "btn btn-outline-primary",for:"fase"}  %>
            <br>
            目の形
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"eye_shape1"},  "ツリ目" , nil %>
            <%= f.label 'ツリ目', {class: "btn btn-outline-primary",for:"eye_shape1"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"eye_shape2"},  "たれ目" , nil %>
            <%= f.label 'たれ目', {class: "btn btn-outline-primary",for:"eye_shape2"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"eye_shape3"},  "切れ長" , nil %>
            <%= f.label '切れ長', {class: "btn btn-outline-primary",for:"eye_shape3"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"eye_shape4"},  "猫目" , nil %>
            <%= f.label '猫目', {class: "btn btn-outline-primary",for:"eye_shape4"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"eye_shape5"},  "狐目" , nil %>
            <%= f.label '狐目', {class: "btn btn-outline-primary",for:"eye_shape5"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"eye_shape6"},  "丸目" , nil %>
            <%= f.label '丸目', {class: "btn btn-outline-primary",for:"eye_shape6"}  %>
            <br>
            目の特徴
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"eye_shape7"},  "隻眼" , nil %>
            <%= f.label '隻眼', {class: "btn btn-outline-primary",for:"eye_shape7"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"eye_shape8"},  "一つ目" , nil %>
            <%= f.label '一つ目', {class: "btn btn-outline-primary",for:"eye_shape8"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"eye_shape9"},  "三つ目" , nil %>
            <%= f.label '三つ目', {class: "btn btn-outline-primary",for:"eye_shape9"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"eye_shape10"},  "多眼" , nil %>
            <%= f.label '多眼', {class: "btn btn-outline-primary",for:"eye_shape10"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"eye_shape11"},  "メカクレ" , nil %>
            <%= f.label 'メカクレ', {class: "btn btn-outline-primary",for:"eye_shape11"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"eye_shape12"},  "ぐるぐる目" , nil %>
            <%= f.label 'ぐるぐる目', {class: "btn btn-outline-primary",for:"eye_shape12"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"eye_shape13"},  "三白眼" , nil %>
            <%= f.label '三白眼', {class: "btn btn-outline-primary",for:"eye_shape13"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"eye_shape14"},  "柄目" , nil %>
            <%= f.label '柄目', {class: "btn btn-outline-primary",for:"eye_shape14"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"eye_shape15"},  "重瞳" , nil %>
            <%= f.label '重瞳', {class: "btn btn-outline-primary",for:"eye_shape15"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"eye_shape16"},  "死んだ魚のような目" , nil %>
            <%= f.label '死んだ魚のような目', {class: "btn btn-outline-primary",for:"eye_shape16"}  %>
            <br>
            眼の色
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"eye_blue"},  "碧眼" , nil %>
            <%= f.label '碧眼', {class: "btn btn-outline-primary",for:"eye_blue"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"eye_green"},  "緑目" , nil %>
            <%= f.label '緑目', {class: "btn btn-outline-primary",for:"eye_green"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"eye_red"},  "赤目" , nil %>
            <%= f.label '赤目', {class: "btn btn-outline-primary",for:"eye_red"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"eye_brown"},  "茶目" , nil %>
            <%= f.label '茶目', {class: "btn btn-outline-primary",for:"eye_brown"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"eye_silver"},  "銀目" , nil %>
            <%= f.label '銀目', {class: "btn btn-outline-primary",for:"eye_silver"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"eye_black"},  "黒目" , nil %>
            <%= f.label '黒目', {class: "btn btn-outline-primary",for:"eye_black"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"eye_purple"},  "紫目" , nil %>
            <%= f.label '紫目', {class: "btn btn-outline-primary",for:"eye_purple"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"eye_white"},  "白目" , nil %>
            <%= f.label '白目', {class: "btn btn-outline-primary",for:"eye_white"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"eye_odd"},  "オッドアイ" , nil %>
            <%= f.label 'オッドアイ', {class: "btn btn-outline-primary",for:"eye_odd"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"eye_bw"},  "黒白目" , nil %>
            <%= f.label '黒白目', {class: "btn btn-outline-primary",for:"eye_bw"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"eye_rainbow"},  "虹眼" , nil %>
            <%= f.label '虹眼', {class: "btn btn-outline-primary",for:"eye_rainbow"}  %>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#fase"
            aria-expanded="false" aria-controls="fase">
            顔
          </button>
        </h2>
        <div id="fase" class='accordion-collapse collapse' aria-labelledby='fase' data-bs-parent="#appearance">
          <div class='accordion-body'>
          耳
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"ear_cat"},  "猫耳" , nil %>
            <%= f.label '猫耳', {class: "btn btn-outline-primary",for:"ear_cat"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"ear_dog"},  "犬耳" , nil %>
            <%= f.label '犬耳', {class: "btn btn-outline-primary",for:"ear_dog"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"ear_rabbit"},  "うさみみ" , nil %>
            <%= f.label 'うさみみ', {class: "btn btn-outline-primary",for:"ear_rabbit"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"ear1"},  "ケモ耳" , nil %>
            <%= f.label 'ケモ耳', {class: "btn btn-outline-primary",for:"ear1"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"ear2"},  "エルフ耳" , nil %>
            <%= f.label 'エルフ耳', {class: "btn btn-outline-primary",for:"ear2"}  %>
            <br>
            眉毛
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"eyebrow1"},  "麻呂眉" , nil %>
            <%= f.label '麻呂眉', {class: "btn btn-outline-primary",for:"eyebrow1"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"eyebrow2"},  "太眉" , nil %>
            <%= f.label '太眉', {class: "btn btn-outline-primary",for:"eyebrow2"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"eyebrow3"},  "八の字眉" , nil %>
            <%= f.label '八の字眉', {class: "btn btn-outline-primary",for:"eyebrow3"}  %>
            <br>
            その他
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"fase1"},  "八重歯" , nil %>
            <%= f.label '八重歯', {class: "btn btn-outline-primary",for:"fase1"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"fase2"},  "ほくろ" , nil %>
            <%= f.label 'ほくろ', {class: "btn btn-outline-primary",for:"fase2"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"fase3"},  "スカーフェイス" , nil %>
            <%= f.label 'スカーフェイス', {class: "btn btn-outline-primary",for:"fase3"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"fase4"},  "そばかす" , nil %>
            <%= f.label 'そばかす', {class: "btn btn-outline-primary",for:"fase4"}  %>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#body"
            aria-expanded="false" aria-controls="body">
            身体
          </button>
        </h2>
        <div id="body" class='accordion-collapse collapse' aria-labelledby='body' data-bs-parent="#appearance">
          <div class='accordion-body'>
          体型
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"body_style1"},  "スレンダー" , nil %>
            <%= f.label 'スレンダー', {class: "btn btn-outline-primary",for:"body_style1"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"body_style2"},  "スマート" , nil %>
            <%= f.label 'スマート', {class: "btn btn-outline-primary",for:"body_style2"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"body_style3"},  "細身" , nil %>
            <%= f.label '細身', {class: "btn btn-outline-primary",for:"body_style3"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"body_style4"},  "ガリガリ" , nil %>
            <%= f.label 'ガリガリ', {class: "btn btn-outline-primary",for:"body_style4"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"body_style5"},  "華奢" , nil %>
            <%= f.label '華奢', {class: "btn btn-outline-primary",for:"body_style5"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"body_style6"},  "ぽっちゃり" , nil %>
            <%= f.label 'ぽっちゃり', {class: "btn btn-outline-primary",for:"body_style6"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"body_style7"},  "肥満" , nil %>
            <%= f.label '肥満', {class: "btn btn-outline-primary",for:"body_style7"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"body_style8"},  "マッチョ" , nil %>
            <%= f.label 'マッチョ', {class: "btn btn-outline-primary",for:"body_style8"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"body_style9"},  "細マッチョ" , nil %>
            <%= f.label '細マッチョ', {class: "btn btn-outline-primary",for:"body_style9"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"body_style10"},  "ナイスバディ" , nil %>
            <%= f.label 'ナイスバディ', {class: "btn btn-outline-primary",for:"body_style10"}  %>
            <br>
            他
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"body_style11"},  "義手・義足" , nil %>
            <%= f.label '義手・義足', {class: "btn btn-outline-primary",for:"body_style11"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"body_style12"},  "前身サイボーグ" , nil %>
            <%= f.label '全身サイボーグ', {class: "btn btn-outline-primary",for:"body_style12"}  %>
          </div>
      </div>
    </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#species"
            aria-expanded="false" aria-controls="body">
            種族
          </button>
        </h2>
        <div id="species" class='accordion-collapse collapse' aria-labelledby='species' data-bs-parent="#appearance">
          <div class='accordion-body'>
            種族
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"species1"},  "天使" , nil %>
            <%= f.label '天使', {class: "btn btn-outline-primary",for:"species1"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"species2"},  "悪魔" , nil %>
            <%= f.label '悪魔', {class: "btn btn-outline-primary",for:"species2"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"species3"},  "妖精" , nil %>
            <%= f.label '妖精', {class: "btn btn-outline-primary",for:"species3"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"species4"},  "妖怪" , nil %>
            <%= f.label '妖怪', {class: "btn btn-outline-primary",for:"species4"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"species5"},  "幽霊" , nil %>
            <%= f.label '幽霊', {class: "btn btn-outline-primary",for:"species5"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"species6"},  "モンスター" , nil %>
            <%= f.label 'モンスター', {class: "btn btn-outline-primary",for:"species6"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"species7"},  "ロボット" , nil %>
            <%= f.label 'ロボット', {class: "btn btn-outline-primary",for:"species7"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"species8"},  "ハーフ" , nil %>
            <%= f.label 'ハーフ', {class: "btn btn-outline-primary",for:"species8"}  %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>