<div class='container'>
  <h2>キャラクター編集</h2>
</div>
<div class='py-3'>
  <div class='container'>
    <%= form_with model: @character, local: true do |f| %>
       <%= render "characters/shared/error_messages" %>
        <div class="row py-3">
          <label for="chara_name" class="col-md com-form-label" >キャラクター名
          <span class="badge bg-info text-light">必須</span></label>
          <div class="col-md-9">
            <div class="form-floating">
              <%= f.text_field  :chara_name , class: 'form-control', required: true %>
            </div>
          </div>
        </div>

        <div class="row py-3">
          <label for="appear_in" class="col-md com-form-label" >登場作品のタイトル
            <span class="badge bg-info text-light">必須</span>
          </label>
          <div class="col-md-9">
            <div class="form-floating">
              <%= f.text_field  :appear_in , class: 'form-control',  required: true%>
            </div>
          </div>
        </div>


        <div class="row py-3">
        <label for="image" class="col-md com-form-label" >キャラクターの画像ファイル</label>
        <div class="col-md-9">
          <div class="image">
            <%= f.file_field  :image %>
            <br>
              下にプレビューが表示されます。<div id="new-image"></div>
          <div>
        </div>
      </div>
      <%= render "characters/shared/tags" %>
      <br>
     
      <br>

      <div class="row py-3">
        <label for="submit" class="col-md com-form-label" >
          <p><%= f.submit "作成", class: "btn btn-primary" %>
        </label>
      </div>
    <% end %>


  </div>
</div>