<title>試し</title>
<body>
<div container class="containar">
   <div class="col-md-6">テーブル</div>
   <div class="col-md-6"><h2>基本情報欄</h2>
   <br>
    <%= form_for(@character) do |f| %>
      <div class="form-floating m-3">
      <%= f.text_field :chara_name, class: 'form-control', :placeholder => "江戸川コナン" %>
        <%= f.label   :chara_name,'キャラクター名：' %>
      </div>
      <br>
      <div class="form-floating  m-3">
        <%= f.text_field :appear_in, class: 'form-control', :placeholder => "名探偵コナン" %>
        <%= f.label :appear_in,'登場作品のタイトル：' %>
      </div>
      <br>
        <li>グループ１</li>
            
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"btn-check-outlined"},  "赤目" , nil %>
            <%= f.label '赤目', {class: "btn btn-outline-primary",for:"btn-check-outlined"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"1"},  "青目" , nil %>
            <%= f.label '青目', {class: "btn btn-outline-primary",for:"1"}  %>
            <%= f.check_box :element_list,  { multiple: true, class: "btn-check", id:"btn-check-outlined2"},  "金目" , nil %>
            <%= f.label '金目',  {class: "btn btn-outline-primary",for:"btn-check-outlined2"}  %>
      <p><%= f.submit "アップデート", class: "btn btn-primary" %>
    <% end %>
    <br>
  </div>
</div>

</body>