<title>試し</title>
<body>
<div container class="containar">
   <div class="col-md-6">テーブル</div>
   <div class="col-md-4"><h2>基本情報欄</h2>
   <br>
    <%= form_for(@character) do |f| %>
      <div class="form-floating m-3">
        <%= f.label :chara_name,'キャラクター名：' %>
        <%= f.text_field :chara_name, class: 'form-control', :placeholder => "江戸川コナン" %>
      </div>
      <br>
      <div class="form-floating  m-3">
        <%= f.label :appear_in,'登場作品のタイトル名：' %>
        <%= f.text_field :appear_in, class: 'form-control', :placeholder => "名探偵コナン" %>
      </div>
      <br>
      <%= f.submit "アップデート", class: "btn btn-primary" %>
    <% end %>
    <br>
  </div>
</div>

</body>