<div class='container'>
<h2>検索結果</h2>
<div>
<% if@results.present? %>
<table>
  <head>
    <tr>
      <th>キャラクター名</th>
      <th>登場作品</th>
      <th colspan="4"></th>
    </tr>
  </head>

  <body>
    <% @results.each do |character| %>
      <tr>
        <td><%= character.chara_name %></td>
        <td><%= character.appear_in%></td>
        <td><%= link_to 'Show', character %></td>
        <td><%= link_to 'edit', character %></td>
      </tr>
    <% end %>
  </body>
</table>
<% else %>
  データがありませんでした。
  <p>
  <p>
<% end %>
<%= link_to '戻る', characters_path %>


<%= paginate @results%>