<% if @characters.present? %>
  <% @characters.each do |character| %>
    <div class='col-md-4'>
      <div class='card'>
        <% if character.image.present? %>
          <%= image_tag character.image %>
        <% else %>
          <%= image_tag  'noimage.png' %>
        <% end %>
        <div class='card-body'>
          <h4 class='card-title'>
            <%= character.chara_name %>
          </h4>
          <h5 class='card-subtitle'>
            <%= character.appear_in %>
          </h5>
          <p class='card-text'>
            <% if character.tag_counts_on(:elements).present? %>
              <% character.tag_counts_on(:elements).each do |element| %>
                <%= link_to "#{element.name}(#{element.taggings_count})",characters_path(element: element.name) %>
              <% end %>
            <% end %>
          </p>
        </div>
        <div class='card-footer'>
          <ul class='nav nav-tabs card-footer-pills' >
            <li class='nav-item'>
              <a class='nav-link active' href='#'>内容</a>
            </li>
            <li class='nav-item'>
              <%=link_to "詳細", character_path(character), class:'nav-link' %>
            </li>
            <li class='nav-item'>
              <%=link_to "編集", edit_character_path(character), class:'nav-link' %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
<% end %>